a {
	color: var(--a-text-color);
	font-weight: 600;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid var(--a-border-color);
}

a:visited {
	color: var(--a-text-color--visited);
}
