:root.light {
	--text-color: var(--neutral-2);

	--input-border-color--hover: var(--neutral-7);
	--input-border-color--focus: var(--neutral-7);

	--label-text-color: var(--neutral-6);

	--app-background-color: white;
	--app__menu-background-color: hsla(0, 0%, 0%, 0.5);

	--nav-background-color: var(--neutral-9);
	--nav__list-border-color: var(--neutral-8);
	--nav__list-text-color: var(--neutral-6);
	--nav__listItem-text-color--hover: var(--neutral-8);
	--nav__link-background-color--isActive: var(--neutral-5);
	--nav__link-text-color--isActive: var(--neutral-8);

	--navBar-background-color: white;

	--exerciseList__contentContainer-background-color: white;
	--workoutList__contentContainer-background-color: white;
	--workoutLogList__contentContainer-background-color: white;
}
