.about {
	background-color: white;
}

.about__navBar {
	background-color: white;
}

.about__container {
	background-color: white;
	justify-content: center;
}

.about__illustration {
	max-height: 256px;
	max-width: 256px;
}
