.about {
}

.about__navBar {
	background-color: var(--about__navBar-background-color);
}

.about__contentWrapper {
	background-color: var(--about__contentWrapper-background-color);
}

.about__contentContainer {
	background-color: var(--about__contentContainer-background-color);
	justify-content: center;
}

.about__illustrationWrapper {
	max-height: 300px;
}
