.card {
	background-color: white;
	border-bottom: 2px solid var(--neutral-7);
	border-radius: var(--border-radius);
	margin-bottom: var(--margin);
	padding: var(--padding);
	width: 100%;
}

.card.-isTransition {
	background-color: transparent;
	border: 2px dashed var(--neutral-7);
}
