/* ReleaseNotes */

.releaseNotes {
	background-color: white;
	display: flex;
	justify-content: center;
	min-height: 100%;
}

.releaseNotes__container {
	background-color: white;
	display: flex;
	max-width: var(--max-text-width);
	padding: var(--size-4);
}
