.workoutLogList__illustration {
	max-height: 512px;
	max-width: 512px;
}

.workoutLogList__title {
	font-size: 3em;
	position: absolute;
	text-shadow: 0px 0px 5px var(--neutral-9);
	top: 100px;
}

.workoutLogList__contentContainer {
	background-color: var(--workoutLogList__contentContainer-background-color);
	margin: 300px 0 0 0;
	padding-top: 0px;
}

.workoutLogList__contentContainer.-isEmpty {
	background-color: var(
		--workoutLogList__contentContainer-background-color--isEmpty
	);
	color: var(--workoutLogList__contentContainer-text-color--isEmpty);
}
