/* WorkoutList */

.workoutList {
}

.workoutList__container {
}

.workoutList__container.-isEmpty {
	color: var(--neutral-5);
}

.workoutList__illustration {
	max-height: 256px;
	max-width: 256px;
}
