:root {
	/* Size
  ===========================================================================*/

	--size-0: 4px;
	--size-1: 8px;
	--size-2: 12px;
	--size-3: 16px;
	--size-4: 24px;
	--size-5: 32px;
	--size-6: 48px;
	--size-7: 64px;
	--size-8: 96px;
	--size-9: 128px;

	/* Font
  ===========================================================================*/

	--main-font: "Nunito", sans-serif;

	/* Font Size
  ===========================================================================*/

	--min-font-size: 14;
	--max-font-size: 20;
	--delta-font-size: calc(var(--max-font-size) - var(--min-font-size));

	/* Font Weight
  ===========================================================================*/

	/* Line Height
  ===========================================================================*/

	--line-height: 1.4rem;

	/* Color
  ===========================================================================*/

	--light-saturation: 50%;
	--dark-saturation: 50%;
	--dark-lightness: 25%;
	--light-lightness: 95%;
	--factor-1: 0.25;
	--factor-2: 0.5;
	--factor-3: 0.75;
	--factor-4: 1;

	--primary-hue: 220;
	--primary-dark-hue-shift: 20; /* closest to 0, 120, or 240 */
	--primary-light-hue-shift: -20; /* closest to 60, 180, or 300 */
	--primary-saturation: 40%;
	--primary-lightness: 50%;
	--primary-1: hsl(
		calc(var(--primary-hue) + var(--primary-dark-hue-shift) * var(--factor-4)),
		calc(
			var(--primary-saturation) +
				((var(--dark-saturation) - var(--primary-saturation)) * var(--factor-4))
		),
		calc(
			var(--primary-lightness) -
				((var(--primary-lightness) - var(--dark-lightness)) * var(--factor-4))
		)
	);
	--primary-2: hsl(
		calc(var(--primary-hue) + var(--primary-dark-hue-shift) * var(--factor-3)),
		calc(
			var(--primary-saturation) +
				((var(--dark-saturation) - var(--primary-saturation)) * var(--factor-3))
		),
		calc(
			var(--primary-lightness) -
				((var(--primary-lightness) - var(--dark-lightness)) * var(--factor-3))
		)
	);
	--primary-3: hsl(
		calc(var(--primary-hue) + var(--primary-dark-hue-shift) * var(--factor-2)),
		calc(
			var(--primary-saturation) +
				((var(--dark-saturation) - var(--primary-saturation)) * var(--factor-2))
		),
		calc(
			var(--primary-lightness) -
				((var(--primary-lightness) - var(--dark-lightness)) * var(--factor-2))
		)
	);
	--primary-4: hsl(
		calc(var(--primary-hue) + var(--primary-dark-hue-shift) * var(--factor-1)),
		calc(
			var(--primary-saturation) +
				((var(--dark-saturation) - var(--primary-saturation)) * var(--factor-1))
		),
		calc(
			var(--primary-lightness) -
				((var(--primary-lightness) - var(--dark-lightness)) * var(--factor-1))
		)
	);
	--primary-5: hsl(
		var(--primary-hue),
		var(--primary-saturation),
		var(--primary-lightness)
	);
	--primary-6: hsl(
		calc(var(--primary-hue) + var(--primary-light-hue-shift) * var(--factor-1)),
		calc(
			var(--primary-saturation) -
				(
					(var(--primary-saturation) - var(--light-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--primary-lightness) +
				((var(--light-lightness) - var(--primary-lightness)) * var(--factor-1))
		)
	);
	--primary-7: hsl(
		calc(var(--primary-hue) + var(--primary-light-hue-shift) * var(--factor-2)),
		calc(
			var(--primary-saturation) -
				(
					(var(--primary-saturation) - var(--light-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--primary-lightness) +
				((var(--light-lightness) - var(--primary-lightness)) * var(--factor-2))
		)
	);
	--primary-8: hsl(
		calc(var(--primary-hue) + var(--primary-light-hue-shift) * var(--factor-3)),
		calc(
			var(--primary-saturation) -
				(
					(var(--primary-saturation) - var(--light-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--primary-lightness) +
				((var(--light-lightness) - var(--primary-lightness)) * var(--factor-3))
		)
	);
	--primary-9: hsl(
		calc(var(--primary-hue) + var(--primary-light-hue-shift) * var(--factor-4)),
		calc(
			var(--primary-saturation) -
				(
					(var(--primary-saturation) - var(--light-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--primary-lightness) +
				((var(--light-lightness) - var(--primary-lightness)) * var(--factor-4))
		)
	);

	--neutral-hue: 220;
	--neutral-dark-hue-shift: 20; /* closest to 0, 120, or 240 */
	--neutral-light-hue-shift: -20; /* closest to 60, 180, or 300 */
	--neutral-saturation: 10%;
	--neutral-lightness: 50%;
	--neutral-light-saturation: 15%;
	--neutral-dark-saturation: 15%;
	--neutral-1: hsl(
		calc(var(--neutral-hue) + var(--neutral-dark-hue-shift) * var(--factor-4)),
		calc(
			var(--neutral-saturation) +
				(
					(var(--neutral-dark-saturation) - var(--neutral-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--neutral-lightness) -
				((var(--neutral-lightness) - var(--dark-lightness)) * var(--factor-4))
		)
	);
	--neutral-2: hsl(
		calc(var(--neutral-hue) + var(--neutral-dark-hue-shift) * var(--factor-3)),
		calc(
			var(--neutral-saturation) +
				(
					(var(--neutral-dark-saturation) - var(--neutral-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--neutral-lightness) -
				((var(--neutral-lightness) - var(--dark-lightness)) * var(--factor-3))
		)
	);
	--neutral-3: hsl(
		calc(var(--neutral-hue) + var(--neutral-dark-hue-shift) * var(--factor-2)),
		calc(
			var(--neutral-saturation) +
				(
					(var(--neutral-dark-saturation) - var(--neutral-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--neutral-lightness) -
				((var(--neutral-lightness) - var(--dark-lightness)) * var(--factor-2))
		)
	);
	--neutral-4: hsl(
		calc(var(--neutral-hue) + var(--neutral-dark-hue-shift) * var(--factor-1)),
		calc(
			var(--neutral-saturation) +
				(
					(var(--neutral-dark-saturation) - var(--neutral-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--neutral-lightness) -
				((var(--neutral-lightness) - var(--dark-lightness)) * var(--factor-1))
		)
	);
	--neutral-5: hsl(
		var(--neutral-hue),
		var(--neutral-saturation),
		var(--neutral-lightness)
	);
	--neutral-6: hsl(
		calc(var(--neutral-hue) + var(--neutral-light-hue-shift) * var(--factor-1)),
		calc(
			var(--neutral-saturation) -
				(
					(var(--neutral-saturation) - var(--neutral-light-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--neutral-lightness) +
				((var(--light-lightness) - var(--neutral-lightness)) * var(--factor-1))
		)
	);
	--neutral-7: hsl(
		calc(var(--neutral-hue) + var(--neutral-light-hue-shift) * var(--factor-2)),
		calc(
			var(--neutral-saturation) -
				(
					(var(--neutral-saturation) - var(--neutral-light-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--neutral-lightness) +
				((var(--light-lightness) - var(--neutral-lightness)) * var(--factor-2))
		)
	);
	--neutral-8: hsl(
		calc(var(--neutral-hue) + var(--neutral-light-hue-shift) * var(--factor-3)),
		calc(
			var(--neutral-saturation) -
				(
					(var(--neutral-saturation) - var(--neutral-light-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--neutral-lightness) +
				((var(--light-lightness) - var(--neutral-lightness)) * var(--factor-3))
		)
	);
	--neutral-9: hsl(
		calc(var(--neutral-hue) + var(--neutral-light-hue-shift) * var(--factor-4)),
		calc(
			var(--neutral-saturation) -
				(
					(var(--neutral-saturation) - var(--neutral-light-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--neutral-lightness) +
				((var(--light-lightness) - var(--neutral-lightness)) * var(--factor-4))
		)
	);

	--accent-red-hue: 0;
	--accent-red-dark-hue-shift: -20; /* closest to 0, 120, or 240 */
	--accent-red-light-hue-shift: +20; /* closest to 60, 180, or 300 */
	--accent-red-saturation: 40%;
	--accent-red-lightness: 50%;
	--accent-red-1: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-dark-hue-shift) * var(--factor-4)
		),
		calc(
			var(--accent-red-saturation) +
				(
					(var(--dark-saturation) - var(--accent-red-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--accent-red-lightness) -
				(
					(var(--accent-red-lightness) - var(--dark-lightness)) *
						var(--factor-4)
				)
		)
	);
	--accent-red-2: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-dark-hue-shift) * var(--factor-3)
		),
		calc(
			var(--accent-red-saturation) +
				(
					(var(--dark-saturation) - var(--accent-red-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--accent-red-lightness) -
				(
					(var(--accent-red-lightness) - var(--dark-lightness)) *
						var(--factor-3)
				)
		)
	);
	--accent-red-3: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-dark-hue-shift) * var(--factor-2)
		),
		calc(
			var(--accent-red-saturation) +
				(
					(var(--dark-saturation) - var(--accent-red-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--accent-red-lightness) -
				(
					(var(--accent-red-lightness) - var(--dark-lightness)) *
						var(--factor-2)
				)
		)
	);
	--accent-red-4: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-dark-hue-shift) * var(--factor-1)
		),
		calc(
			var(--accent-red-saturation) +
				(
					(var(--dark-saturation) - var(--accent-red-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--accent-red-lightness) -
				(
					(var(--accent-red-lightness) - var(--dark-lightness)) *
						var(--factor-1)
				)
		)
	);
	--accent-red-5: hsl(
		var(--accent-red-hue),
		var(--accent-red-saturation),
		var(--accent-red-lightness)
	);
	--accent-red-6: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-light-hue-shift) *
				var(--factor-1)
		),
		calc(
			var(--accent-red-saturation) -
				(
					(var(--accent-red-saturation) - var(--light-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--accent-red-lightness) +
				(
					(var(--light-lightness) - var(--accent-red-lightness)) *
						var(--factor-1)
				)
		)
	);
	--accent-red-7: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-light-hue-shift) *
				var(--factor-2)
		),
		calc(
			var(--accent-red-saturation) -
				(
					(var(--accent-red-saturation) - var(--light-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--accent-red-lightness) +
				(
					(var(--light-lightness) - var(--accent-red-lightness)) *
						var(--factor-2)
				)
		)
	);
	--accent-red-8: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-light-hue-shift) *
				var(--factor-3)
		),
		calc(
			var(--accent-red-saturation) -
				(
					(var(--accent-red-saturation) - var(--light-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--accent-red-lightness) +
				(
					(var(--light-lightness) - var(--accent-red-lightness)) *
						var(--factor-3)
				)
		)
	);
	--accent-red-9: hsl(
		calc(
			var(--accent-red-hue) + var(--accent-red-light-hue-shift) *
				var(--factor-4)
		),
		calc(
			var(--accent-red-saturation) -
				(
					(var(--accent-red-saturation) - var(--light-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--accent-red-lightness) +
				(
					(var(--light-lightness) - var(--accent-red-lightness)) *
						var(--factor-4)
				)
		)
	);

	--accent-yellow-hue: 50;
	--accent-yellow-dark-hue-shift: -20; /* closest to 0, 120, or 240 */
	--accent-yellow-light-hue-shift: +20; /* closest to 60, 180, or 300 */
	--accent-yellow-saturation: 60%;
	--accent-yellow-lightness: 60%;
	--accent-yellow-1: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-dark-hue-shift) *
				var(--factor-4)
		),
		calc(
			var(--accent-yellow-saturation) +
				(
					(var(--dark-saturation) - var(--accent-yellow-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--accent-yellow-lightness) -
				(
					(var(--accent-yellow-lightness) - var(--dark-lightness)) *
						var(--factor-4)
				)
		)
	);
	--accent-yellow-2: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-dark-hue-shift) *
				var(--factor-3)
		),
		calc(
			var(--accent-yellow-saturation) +
				(
					(var(--dark-saturation) - var(--accent-yellow-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--accent-yellow-lightness) -
				(
					(var(--accent-yellow-lightness) - var(--dark-lightness)) *
						var(--factor-3)
				)
		)
	);
	--accent-yellow-3: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-dark-hue-shift) *
				var(--factor-2)
		),
		calc(
			var(--accent-yellow-saturation) +
				(
					(var(--dark-saturation) - var(--accent-yellow-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--accent-yellow-lightness) -
				(
					(var(--accent-yellow-lightness) - var(--dark-lightness)) *
						var(--factor-2)
				)
		)
	);
	--accent-yellow-4: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-dark-hue-shift) *
				var(--factor-1)
		),
		calc(
			var(--accent-yellow-saturation) +
				(
					(var(--dark-saturation) - var(--accent-yellow-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--accent-yellow-lightness) -
				(
					(var(--accent-yellow-lightness) - var(--dark-lightness)) *
						var(--factor-1)
				)
		)
	);
	--accent-yellow-5: hsl(
		var(--accent-yellow-hue),
		var(--accent-yellow-saturation),
		var(--accent-yellow-lightness)
	);
	--accent-yellow-6: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-light-hue-shift) *
				var(--factor-1)
		),
		calc(
			var(--accent-yellow-saturation) -
				(
					(var(--accent-yellow-saturation) - var(--light-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--accent-yellow-lightness) +
				(
					(var(--light-lightness) - var(--accent-yellow-lightness)) *
						var(--factor-1)
				)
		)
	);
	--accent-yellow-7: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-light-hue-shift) *
				var(--factor-2)
		),
		calc(
			var(--accent-yellow-saturation) -
				(
					(var(--accent-yellow-saturation) - var(--light-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--accent-yellow-lightness) +
				(
					(var(--light-lightness) - var(--accent-yellow-lightness)) *
						var(--factor-2)
				)
		)
	);
	--accent-yellow-8: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-light-hue-shift) *
				var(--factor-3)
		),
		calc(
			var(--accent-yellow-saturation) -
				(
					(var(--accent-yellow-saturation) - var(--light-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--accent-yellow-lightness) +
				(
					(var(--light-lightness) - var(--accent-yellow-lightness)) *
						var(--factor-3)
				)
		)
	);
	--accent-yellow-9: hsl(
		calc(
			var(--accent-yellow-hue) + var(--accent-yellow-light-hue-shift) *
				var(--factor-4)
		),
		calc(
			var(--accent-yellow-saturation) -
				(
					(var(--accent-yellow-saturation) - var(--light-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--accent-yellow-lightness) +
				(
					(var(--light-lightness) - var(--accent-yellow-lightness)) *
						var(--factor-4)
				)
		)
	);

	--accent-green-hue: 100;
	--accent-green-dark-hue-shift: 20; /* closest to 0, 120, or 240 */
	--accent-green-light-hue-shift: -20; /* closest to 60, 180, or 300 */
	--accent-green-saturation: 40%;
	--accent-green-lightness: 50%;
	--accent-green-1: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-dark-hue-shift) *
				var(--factor-4)
		),
		calc(
			var(--accent-green-saturation) +
				(
					(var(--dark-saturation) - var(--accent-green-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--accent-green-lightness) -
				(
					(var(--accent-green-lightness) - var(--dark-lightness)) *
						var(--factor-4)
				)
		)
	);
	--accent-green-2: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-dark-hue-shift) *
				var(--factor-3)
		),
		calc(
			var(--accent-green-saturation) +
				(
					(var(--dark-saturation) - var(--accent-green-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--accent-green-lightness) -
				(
					(var(--accent-green-lightness) - var(--dark-lightness)) *
						var(--factor-3)
				)
		)
	);
	--accent-green-3: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-dark-hue-shift) *
				var(--factor-2)
		),
		calc(
			var(--accent-green-saturation) +
				(
					(var(--dark-saturation) - var(--accent-green-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--accent-green-lightness) -
				(
					(var(--accent-green-lightness) - var(--dark-lightness)) *
						var(--factor-2)
				)
		)
	);
	--accent-green-4: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-dark-hue-shift) *
				var(--factor-1)
		),
		calc(
			var(--accent-green-saturation) +
				(
					(var(--dark-saturation) - var(--accent-green-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--accent-green-lightness) -
				(
					(var(--accent-green-lightness) - var(--dark-lightness)) *
						var(--factor-1)
				)
		)
	);
	--accent-green-5: hsl(
		var(--accent-green-hue),
		var(--accent-green-saturation),
		var(--accent-green-lightness)
	);
	--accent-green-6: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-light-hue-shift) *
				var(--factor-1)
		),
		calc(
			var(--accent-green-saturation) -
				(
					(var(--accent-green-saturation) - var(--light-saturation)) *
						var(--factor-1)
				)
		),
		calc(
			var(--accent-green-lightness) +
				(
					(var(--light-lightness) - var(--accent-green-lightness)) *
						var(--factor-1)
				)
		)
	);
	--accent-green-7: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-light-hue-shift) *
				var(--factor-2)
		),
		calc(
			var(--accent-green-saturation) -
				(
					(var(--accent-green-saturation) - var(--light-saturation)) *
						var(--factor-2)
				)
		),
		calc(
			var(--accent-green-lightness) +
				(
					(var(--light-lightness) - var(--accent-green-lightness)) *
						var(--factor-2)
				)
		)
	);
	--accent-green-8: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-light-hue-shift) *
				var(--factor-3)
		),
		calc(
			var(--accent-green-saturation) -
				(
					(var(--accent-green-saturation) - var(--light-saturation)) *
						var(--factor-3)
				)
		),
		calc(
			var(--accent-green-lightness) +
				(
					(var(--light-lightness) - var(--accent-green-lightness)) *
						var(--factor-3)
				)
		)
	);
	--accent-green-9: hsl(
		calc(
			var(--accent-green-hue) + var(--accent-green-light-hue-shift) *
				var(--factor-4)
		),
		calc(
			var(--accent-green-saturation) -
				(
					(var(--accent-green-saturation) - var(--light-saturation)) *
						var(--factor-4)
				)
		),
		calc(
			var(--accent-green-lightness) +
				(
					(var(--light-lightness) - var(--accent-green-lightness)) *
						var(--factor-4)
				)
		)
	);

	/* Margin
  ===========================================================================*/

	--margin: var(--size-2);

	/* Padding
  ===========================================================================*/

	--padding: var(--size-2) var(--size-3);
	--padding-large: var(--size-4) var(--size-5);

	/* Width
  ===========================================================================*/

	--min-width: 280;
	--max-width: 1200;
	--delta-width: calc(var(--max-width) - var(--min-width));
	--max-text-width: 60ch;

	/* Height
  ===========================================================================*/

	/* Box Shadows
  ===========================================================================*/

	--box-shadow-1: 0 1px 3px hsla(0, 0%, 0%, 0.12),
		0 1px 2px hsla(0, 0%, 0%, 0.24);
	--box-shadow-2: 0 3px 6px hsla(0, 0%, 0%, 0.15),
		0 2px 4px hsla(0, 0%, 0%, 0.12);
	--box-shadow-3: 0 10px 20px hsla(0, 0%, 0%, 0.15),
		0 3px 6px hsla(0, 0%, 0%, 0.1);
	--box-shadow-4: 0 15px 25px hsla(0, 0%, 0%, 0.15),
		0 5px 10px hsla(0, 0%, 0%, 0.05);
	--box-shadow-5: 0 20px 40px hsla(0, 0%, 0%, 0.2);

	/* Border Radius
  ===========================================================================*/

	--border-radius-small: var(--size-1);
	--border-radius: var(--size-2);
	--border-radius-large: var(--size-3);

	/* Border Width
  ===========================================================================*/

	/* Opacity
  ===========================================================================*/
}
