@import './normalize.css';
@import './variables.css';
@import './test.css';

*,
*::before,
*::after {
  box-sizing: inherit;
  flex: 0 1 auto;
  min-width: auto;
  min-height: auto;
}

html {
    box-sizing: border-box;
    min-width: calc(var(--min-width) * 1px);
    height: 100vh;
    width: 100vw;
    font-size: calc(var(--min-font-size) * 1px);
    line-height: var(--line-height);
    color: var(--neutral-1);
    font-family: var(--main-font);
}

body {
    height: 100vh;
    width: 100vw;
}

/*******************************************************************************
* HEADERS                                                                      *
*******************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

h1 {
  font-size: 2.441em;
  font-weight: 200;
}

h2 {
  font-size: 1.953em;
  font-weight: 200;
}

h3 {
  font-size: 1.563em;
  font-weight: 200;
}

h4 {
  font-size: 1.25em;
  font-weight: 300;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

input,
select {
    overflow: hidden;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--neutral-8);
    color: inherit;
    font-weight: 600;
    width: 100%;
    margin: var(--margin);
    padding: var(--padding);
}

input:hover,
select:hover {
    border-color: var(--neutral-6);
}

input:focus,
select:focus {
    border-color: var(--neutral-6);
}

input[type=number] {
    width: 2em;
    text-align: right;
    padding: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inputs {
    justify-content: space-around;
}

.inputWrapper {
    vertical-align: baseline;
    font-size: 2em;
}

label {
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--neutral-5);
    letter-spacing: 0.15em;
    margin: var(--margin);
}

.unit {
    font-weight: 600;
    font-size: 0.5em;
    text-transform: uppercase;
}

button {
    color: var(--primary-5);
    background-color: transparent;
    min-width: 48px;
    min-height: 48px;
    border: 0;
    border-radius: var(--border-radius);
    width:auto;
}

button:hover {
    cursor: pointer;
}

button.primary {
    background-color: var(--primary-5);
    color: var(--primary-9);
}

button.secondary {
    border: 1px solid var(--primary-5);
}

#app {
    align-items: stretch;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container.horizontal {
    flex-direction: row;
}

.flex-container.wrap {
    flex-wrap: wrap;
}

aside {
    position: absolute;
    transform: translatex(-100%);
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    transition: transform 0.2s ease-out;
    z-index: 1;
}

aside.active {
    transform: translatex(0);
}

#main-nav {
    height: 100%;
    width: 62%;
    background-color: var(--neutral-2);
}

#main-nav ul {
    border-top: 2px solid var(--neutral-1);
    color: var(--neutral-6);
    justify-content: flex-start;
}

#main-nav ul li {
    display: flex;
    align-items: center;
}

#main-nav ul li:hover {
    color: var(--neutral-9);
}

#main-nav ul li .icon {
    margin-right: var(--margin);
}

.icon {
    width: 32px;
}

#navBarWrapper {
    width: 100%;
}

#secondary-nav {
    width: 100%;
    justify-content: space-between;
}

#secondary-nav section {
    width: 33%;
    align-items: center;
    min-height: 48px;
}

#secondary-nav section:first-child {
    justify-content: flex-start;
}

#secondary-nav section:last-child {
    justify-content: flex-end;
}

#contentWrapper {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

header {
    box-shadow: 0px 0px 5px black;
    position: relative;
}

#mainWrapper {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    flex-grow: 1;
}

main {
    width: 100%;
    max-width: calc(var(--max-width) * 1px);
    padding: var(--size-4);
}

main a {
    color: var(--primary-5);
}

main a:visited {
    color:var(--primary-5);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: var(--padding);
}

nav a {
    text-decoration: none;
}

nav a.router-link-exact-active {
    color: var(--neutral-9);
    background-color: var(--neutral-1);
}

.card {
    background-color: var(--neutral-9);
    border: 1px solid var(--neutral-8);
    border-radius: var(--border-radius);
    margin-bottom: var(--margin);
    padding: var(--padding);
    width: 100%;
}

@media all and (min-width: 280px) { /* Fix: Once env variables are supported, use them here */

    html {
      font-size: calc(calc(var(--min-font-size) * 1px) + var(--delta-font-size) * ((100vw - calc(var(--min-width) * 1px)) / var(--delta-width)));
    }

}

@media all and (min-width: 500px) {

    aside {
        position: relative;
        transform: translatex(0);
        width: 200px;
        flex-shrink: 0;
    }

    #main-nav {
        width: 100%;
    }

    #hamburger-menu {
        display: none;
    }

  }

  @media all and (min-width: 1200px) { /* Fix: Once env variables are supported, use them here */

    html {
      font-size: calc(var(--max-font-size) * 1px);
    }

  }
