:root {
    --max-text-width: 60ch;
    --line-height: 1.8rem;
    --min-font-size: 12;
    --max-font-size: 18;
    --delta-font-size: calc(var(--max-font-size) - var(--min-font-size));
    --min-width: 280;
    --max-width: 1200;
    --delta-width: calc(var(--max-width) - var(--min-width));
    --padding: 5%;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
  flex: 0 1 auto;
  min-width: 0;
  min-height: 0;
}

html {
    box-sizing: border-box;
    min-width: calc(var(--min-width) * 1px);
    height: 100%;
    width: 100%;
    font-size: calc(var(--min-font-size) * 1px);
    line-height: var(--line-height);
    overflow: hidden;
    color: #111;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*******************************************************************************
* HEADERS                                                                      *
*******************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  width: 100%;
}

h1 {
  font-size: 2.441em;
  font-weight: 200;
}

h2 {
  font-size: 1.953em;
  font-weight: 200;
}

h3 {
  font-size: 1.563em;
  font-weight: 200;
}

h4 {
  font-size: 1.25em;
  font-weight: 300;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

#app {
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container.horizontal {
    flex-direction: row;
}

#main-nav {
    position: absolute;
    transform: translatex(-100%);
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    transition: transform 0.2s ease-out;
}

#main-nav.active {
    transform: translatex(0);
}

#main-nav ul {
    height: 100%;
    background-color: hsl(0, 0%, 25%);
    color: white;
    width: 80%;
    justify-content: flex-start;
}

#mainWrapper {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

#secondary-nav {
    width: 100%;
    background-color: hsl(0, 0%, 25%);
    color: white;
    height: auto;
}

#secondary-nav ul {
    justify-content: left;
}

#hamburger-menu:hover {
    cursor: pointer;
}

#contentWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start;
}

#content {
    width: 100%;
    height: 100%;
    max-width: calc(var(--max-width) * 1px);
    padding: 0 var(--padding);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 1em;
}

nav a {
    text-decoration: none;
}

nav a.router-link-exact-active {
    color: white;
    background-color: #111;
}

.card {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 2em;
}

@media all and (min-width: 280px) { /* Fix: Once env variables are supported, use them here */

    html {
      font-size: calc(calc(var(--min-font-size) * 1px) + var(--delta-font-size) * ((100vw - calc(var(--min-width) * 1px)) / var(--delta-width)));
    }

}

@media all and (min-width: 500px) {

    #main-nav {
        position: relative;
        transform: translatex(0);
        width: 200px;
        flex-shrink: 0;
    }

    #main-nav ul {
        width: 100%;
    }

    #hamburger-menu {
        display: none;
    }

  }

  @media all and (min-width: 1200px) { /* Fix: Once env variables are supported, use them here */

    html {
      font-size: calc(var(--max-font-size) * 1px);
    }

  }
