:root {
  /* Font Size
     ========================================================================*/

  --min-font-size: 16;
  --max-font-size: 18;
  --delta-font-size: calc(var(--max-font-size) - var(--min-font-size));

  /* Font Weight
     ========================================================================*/

  /* Line Height
     ========================================================================*/

  --line-height: 1.8rem;

  /* Color
     ========================================================================*/

  /* Margin
     ========================================================================*/

  /* Padding
     ========================================================================*/

  --padding: 5%;

  /* Width
     ========================================================================*/

  --min-width: 280;
  --max-width: 1200;
  --delta-width: calc(var(--max-width) - var(--min-width));
  --max-text-width: 60ch;

  /* Height
     ========================================================================*/

  /* Box Shadows
     ========================================================================*/

  /* Border Radius
     ========================================================================*/

  /* Border Width
     ========================================================================*/

  /* Opacity
     ========================================================================*/

}
