.headerContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.contentContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: var(--margin);
	padding: var(--padding-large);
	width: var(--max-text-width);
}

.contentContainer.-isEmpty {
	justify-content: center;
}
